// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.nav-transparent {
  background-image: url("../img/home_section_pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 968px;

}

//.navbar {
//  background-color: transparent!important;
//}

// Dark links against a light background
.navbar-home {

  .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 2rem;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 4rem;
      margin-top: 1rem;

      @include hover-focus {
        color: white;
        text-decoration: underline;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: white;
    }
  }

  .navbar-toggler {
    color: white;
    border-color: white;
  }

  .navbar-toggler-icon {
    background-image: white;
  }

  .navbar-text {
    color: white;
    a {
      color: white;

      @include hover-focus {
        color: white;
      }
    }
  }
}


